<div class="title" onclick="toggleById('dead_steps_data', this); updateDisplayStatus(document.getElementById('dead_steps_function_bar'));updateDivScroll('dead_steps_data', 'dead_steps_table');">
  Dead Steps +
</div>
<div id="dead_steps_function_bar" class="function_bar">
  <input type="button" class="function_button" value="Collapse All" onclick="collapseAll('dead_step_detail')" />
  <input type="button" class="function_button" value="Expand All" onclick="expandAllShiftingRows('dead_step_detail')" />
  <button type="button" class="function_button" onclick="sortTable('dead_steps_table', 0)">Sort by Dead Steps <span id='dead_steps_sort_arrow'></span></button>
</div>
<div class="new_sub_section" id="dead_steps_data">
  <% dead_steps = cuke_sniffer.get_dead_steps %>
  <% dead_steps.delete(:total) %>
  <% dead_step_count = dead_steps.values.flatten.count %>
  <% if !cuke_sniffer.cataloged? %>
      <div class="notes">Steps were not cataloged.</div>
  <% elsif dead_step_count == 0 %>
      <div class="notes">No dead steps found!</div>
  <% elsif dead_step_count == 1 %>
      <div class="notes"><%= dead_step_count %> Dead Step found.</div>
  <% else %>
      <div class="notes"><%= dead_step_count %> Dead Steps found.</div>
  <% end %>
  <% unless dead_steps.empty? or !cuke_sniffer.cataloged? %>
      <table id="dead_steps_table" style="width:100%; border-top: 2px solid #509f50" border="0" cellspacing="0">
        <% index = 0 %>
        <% dead_steps.each_key do |file_name| %>
            <% if index.odd? %>
                <tr class="notes blue_title_row toggleable">
            <% else %>
                <tr class="notes white_title_row toggleable">
            <% end %>
              <td class="red_number" style="width: 1%"><%= dead_steps[file_name].size %></td>
              <td id="dead_step_file_<%= index %>">
                <%= file_name.gsub(cuke_sniffer.step_definitions_location, "") %>
              </td>
              <td style="text-align: right; width:5%" valign="top">
                <a href="file:///<%= file_name.gsub(/:\d+$/, "") %>.rb" title="Note: Links to file on system this report was generated.">
                  (open file)
                </a>
              </td>
            </tr>

            <% if index.odd? %>
                <tr class="blue_row dead_step_detail" id="dead_step_file_detail_<%= index %>" style="display: none;">
            <% else %>
                <tr class="white_row dead_step_detail" id="dead_step_file_detail_<%= index %>" style="display: none;">
            <% end %>
              <td colspan="3">
                <table id="sub_detail_table_<%= index %>" style="width:100%;">
                  <% dead_steps[file_name].each do |regex| %>
                      <tr>
                        <td style="text-indent: 8px;"><%= regex.match(/:(?<regex>.*)/)[:regex] %></td>
                        <td style="text-align: right;">Line: <%= regex.match(/(?<line>\d+):/)[:line] %></td>
                      </tr>
                  <% end %>
                </table>
              </td>
            </tr>

            <% index += 1 %>
        <% end %>
      </table>
  <% end %>
</div>
<br style="clear:both">
