<div class="title" onclick="toggleById('dead_steps_data', this)">
  Dead Steps +
</div>
<div class="shrink_section" id="dead_steps_data">
  <% dead_steps = cuke_sniffer.get_dead_steps %>
  <% dead_steps.delete(:total) %>
  <% dead_step_count = dead_steps.values.flatten.count %>
  <% if dead_step_count == 0 %>
      <div class="notes">No dead steps found!</div>
  <% elsif dead_step_count == 1 %>
      <div class="notes" style="color: red"><%= dead_step_count %> Dead Step found.</div>
  <% else %>
      <div class="notes" style="color: red"><%= dead_step_count %> Dead Steps found.</div>
  <% end %>

  <table style="width: 100%">
    <% dead_steps.each_key do |file_name| %>
        <tr>
          <td>
            <div style="text-indent: 2%;font-weight: bold;"><%= file_name.gsub(cuke_sniffer.step_definitions_location, "") %>
              .rb
            </div>
            <table style="width: 100%; padding-left: 3%;">
              <% dead_steps[file_name].each do |regex| %>
                  <tr>
                    <td style="width: 3%"><%= regex.match(/(?<line>\d+):/)[:line] %></td>
                    <td><%= regex.match(/:(?<regex>.*)/)[:regex] %></td>
                  </tr>
              <% end %>
            </table>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<br style="clear:both">