<div class="title" onclick="toggleById('features_data', this); updateDivScroll('features_data', 'features_table');">
  Features +
</div>
<div class="new_sub_section" id="features_data">
  <% if cuke_sniffer.features.count == 0 %>
      <div class="empty_set_message">There were no Features to sniff in '<%= cuke_sniffer.features_location %>'!</div>
  <% elsif cuke_sniffer.features.count >= 1 && cuke_sniffer.scenarios.count >=1 && cuke_sniffer.summary[:features][:total_score] ==0 && cuke_sniffer.summary[:scenarios][:total_score] ==0 %>
      <div class="empty_set_message">Excellent! No smells found for Features and Scenarios!</div>
  <% end %>

  <table id="features_table" border="0" cellspacing="0" style="width:100%;padding-left: 2px">
    <% index = 0 %>
    <% cuke_sniffer.features.each do |feature| %>
        <% next if feature.total_score == 0 %>
        <tr class="notes" style="cursor: hand;" onclick="updateDisplayStatus(document.getElementById('feature_detail_<%=index%>'));updateDivScroll('features_data', 'features_table');">
          <td valign="top" class="red_number" style="width:1%">
            <%= feature.total_score %>
          </td>
          <td style="padding-left: 2px; width:100%;">
            <% if feature.name.to_s.empty? %>
                No Feature Description
            <% else %>
                <%= feature.name %>
            <% end %>
          </td>
        </tr>
        <tr id="feature_detail_<%= index %>" style="display:none;">
          <td colspan="2">
            <table border="0" cellspacing="0" style="width:100%;padding-left: 8px;background-color: #ccffff">
              <tr>
                <td>
                  <% SummaryHelper::sort_improvement_list(feature.rules_hash).each do |phrase, count| %>
                      <div>
                        <div style="color:red; display:inline-block;">
                          <%= count %>
                        </div>
                        <div style="display:inline-block;">
                          <%= phrase %>
                        </div>
                      </div>
                  <% end %>
                </td>
                <td style="text-align: right;">
                  <a href="file:///<%= feature.location.gsub(/:\d+$/, "") %>" title="Note: Links to file on system this report was generated.">
                    <%= feature.location.gsub(cuke_sniffer.features_location, '') %>
                  </a>
                </td>
              </tr>
              <% unless feature.background.nil? %>
                  <tr>
                    <td valign="top" style="border-top: 2px solid #509f50">
                      <div style="display:inline;" class="red_number"><%= feature.background.score %></div>
                      <div style="display:inline; padding-left: 2px; width:100%;"><%= feature.background.type %>
                        : <%= feature.background.name %></div>
                    </td>
                    <td valign="top" style="padding-left:2px;border-top: 2px solid #509f50;">
                      <% SummaryHelper::sort_improvement_list(feature.background.rules_hash).each do |phrase, count| %>
                          <div>
                            <div style="color:red; display:inline-block;">
                              <%= count %>
                            </div>
                            <div style="display:inline-block; padding-left:2px;">
                              <%= phrase %>
                            </div>
                          </div>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
              <% feature.scenarios.each do |scenario| %>
                  <% next if scenario.score == 0 %>
                  <tr>
                    <td valign="top" style="border-top: 2px solid #509f50">
                      <div style="display:inline;" class="red_number"><%= scenario.score %></div>
                      <div style="display:inline; padding-left: 2px; width:100%;"><%= scenario.type %>
                        : <%= scenario.name %></div>
                    </td>
                    <td valign="top" style="padding-left:2px;border-top: 2px solid #509f50">
                      <% SummaryHelper::sort_improvement_list(scenario.rules_hash).each do |phrase, count| %>
                          <div>
                            <div style="color:red; display:inline-block;">
                              <%= count %>
                            </div>
                            <div style="display:inline-block;">
                              <%= phrase %>
                            </div>
                          </div>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </table>
          </td>
        </tr>
        <% index += 1 %>
    <% end %>
  </table>
</div>
<br style="clear:both">
