<div class="title" onclick="toggleById('features_data', this)">
  Features +
</div>
<div class="shrink_section" id="features_data">
  <% if cuke_sniffer.features.count == 0 %>
      <div class="empty_set_message">There were no Features to sniff in '<%= cuke_sniffer.features_location %>'!</div>
  <% elsif cuke_sniffer.features.count >= 1 && cuke_sniffer.scenarios.count >=1 && cuke_sniffer.summary[:features][:total_score] ==0 && cuke_sniffer.summary[:scenarios][:total_score] ==0 %>
      <div class="empty_set_message">Excellent! No smells found for Features and Scenarios!</div>
  <% end %>
  <% index = 0 %>
  <% cuke_sniffer.features.each do |feature| %>
      <% next if feature.total_score <= 0 %>
      <div style="cursor: pointer; padding-top: 3px" onclick="updateDisplayStatus(document.getElementById('feature_<%=index%>'))">
        <table>
          <tr>
            <td valign="top" style="color:red;font-weight: bold;">
              <%= feature.total_score + feature.scenarios_score %>
            </td>
            <td class="notes">
              <% if feature.name.nil? or feature.name == "" %>
                  No Feature Description
              <% else %>
                  <%= feature.name %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <div id="feature_<%= index %>" class="sub_section">
        <table>
          <tr>
            <td style="border-right: 2px solid #add8e6; width:60%;">
              <% if feature.rules_hash.empty? %>
                  <pre style="margin: 0;">      </pre>
              <% end %>
              <% feature.rules_hash.each_key do |rule| %>
                  <pre style="margin: 0;"><%= rule %></pre>
              <% end %>
            </td>
            <td valign="top">
              <%= feature.location.gsub(cuke_sniffer.features_location, "") %>
            </td>
          </tr>
          <tr>
            <% unless feature.background.nil? or feature.background.score > 0 %>
                <table>
                  <tr>
                    <td valign="top" style="color:red;font-weight: bold;">
                      <%= feature.background.score %>
                    </td>
                    <td class="notes" style="border-right: 2px solid #90ee90;">
                      <%= feature.background.type + ": " + feature.background.name %>
                    </td>
                    <td>
                      <% feature.background.rules_hash.each_key do |rule| %>
                          <pre style="margin: 0; text_indent: 3%;"><%= rule %></pre>
                      <% end %>
                    </td>
                  </tr>
                </table>
            <% end %>
          </tr>
          <% feature.scenarios.each do |scenario| %>
              <tr>
                <% next if scenario.score <= 0 %>
                <td valign="top" style="border-right: 2px solid #90ee90;">
                  <div>
                    <div class="red_number"><%= scenario.score %></div>
                    <div class="notes" style="display:inline"><%= scenario.type + ": " + scenario.name %></div>
                  </div>
                </td>
                <td style="border-top: 2px solid #90ee90;">
                  <% scenario.rules_hash.each_key do |rule| %>
                      <pre style="margin: 0; text_indent: 3%;"><%= rule %></pre>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
      <% index += 1 %>
  <% end %>
</div>
<br style="clear:both">
