<%
   styles = build_page(cuke_sniffer, "css.html.erb")
   scripts = build_page(cuke_sniffer, "js.html.erb")
   title = build_page(cuke_sniffer, "title.html.erb")
   information = build_page(cuke_sniffer, "information.html.erb")
   summary = build_page(cuke_sniffer, "summary.html.erb")
   rules = rules_template(cuke_sniffer)
   improvement_list = build_page(cuke_sniffer, "improvement_list.html.erb")
   dead_steps = build_page(cuke_sniffer, "dead_steps_min.html.erb")
%>

<div class="container">
   <%= styles %>
   <%= scripts %>
   <%= title %>
   <%= information %>
   <%= summary %>
   <%= improvement_list %>
   <%= rules %>
   <%= dead_steps %>
</div>