<link rel="stylesheet" type="text/css" >

<script type="text/javascript">

    function toggleById(item, link) {
        updateDisplayStatus(document.getElementById(item));
        toggleText(link)
    }
    function updateDisplayStatus(object) {
        object.style.display = (object.style.display == "block") ? 'none' : "block";
    }
    function toggleText(link) {
        var char_result = link.innerHTML.indexOf("+") > -1 ? "-" : "+";
        link.innerHTML = link.innerHTML.replace(/(\+|\-)/, char_result)
    }


</script>

<style>
    .title {
        padding-left: 1%;
        width: 25%;
        background-color: green;
        color: white;
        border-top: 0;
        border-bottom: 0;
        font-weight: bold;
        font-size: 21pt;
        cursor: pointer;
    }

    .shrink_section {
        border: 2px solid #90ee90;
        display: none;
    }

    .table_top {
        width: 20%;
        font-size: 14pt;
        padding: 0;
    }

    .divide_row {
        border-bottom: 1px solid black;
    }

    .red_number {
        width: 3%;
        color: red;
        text-indent: 1%;
        font-weight: bold;
    }

    .notes {
        font-weight: bold;
    }

    .sub_section {
        display: none;
        margin-left: 1%;
        margin-right: 1%;
        border-top: 2px solid #add8e6;
    }

    .empty_set_message {
        font-weight: bold;
        margin-left: 1%;
    }

    .rule_notes {
        margin-left: 1%;
        border-left: 2px solid #90ee90;
        border-top: 2px solid #90ee90;
        display: block;
        clear: left;
        padding-bottom: 0%;
        text-indent: 0%;
        padding-left: 0.5%;
        margin-bottom: 0.5%;
    }

    .rule_style {
        margin: 0;
        text_indent: 3%;

    }
    .rule_heading {
        font-weight: bold;
        margin: 0.25%;
    }

    ol  {
        list-style-type:none;
        display: block;
        padding-left: 1%

    }

    .rule_details {

    }

</style>

<div style="float: left; color: green; font-size: 20px; font-weight: bold; padding-bottom: 1px;">
  Cuke Sniffer
</div>
<br style="clear:both">
<div style="border-top: 2px solid lightgreen; text-align: right;">
  <div style="float: right; background-color:green;border-right:2px solid #fff; color:white;padding:4px; padding-left:40px;font-size:11pt;font-weight:bold;padding-right:10px;">
    Score: <%= cuke_sniffer.summary[:total_score] %></div>
</div>
<br style="clear:both">

<%= summary %>

<%= improvement_list %>

<%= rules %>

<%= dead_steps %>

<%= features %>

<%= step_definitions %>

<%= hooks %>