<%
   styles = build_page(cuke_sniffer, "css.html.erb")
   scripts = build_page(cuke_sniffer, "js.html.erb")
   title = build_page(cuke_sniffer, "title.html.erb")
   information = build_page(cuke_sniffer, "information.html.erb")
   summary = build_page(cuke_sniffer, "summary.html.erb")
   rules = rules_template(cuke_sniffer)
   improvement_list = build_page(cuke_sniffer, "improvement_list.html.erb")
   dead_steps = build_page(cuke_sniffer, "dead_steps.html.erb")
   features = build_page(cuke_sniffer, "features.html.erb")
   step_definitions = build_page(cuke_sniffer, "step_definitions.html.erb")
   hooks = build_page(cuke_sniffer, "hooks.html.erb")
%>
<body class="container">
   <div class="container">
   <%= styles %>
   <%= title %>
   <%= information %>
   <%= summary %>
   <%= improvement_list %>
   <%= rules %>
   <%= dead_steps %>
   <%= features %>
   <%= step_definitions %>
   <%= hooks %>
   <%= scripts %>
   </div>
</body>
