<div class="title" onclick="toggleById('step_definitions_data', this)">
  Step Definitions +
</div>
<div class="shrink_section" id="step_definitions_data">
  <% if cuke_sniffer.step_definitions.count == 0 %>
      <div class="notes">There were no Step Definitions to sniff in '<%= cuke_sniffer.step_definitions_location %>'!</div>
  <% elsif cuke_sniffer.step_definitions.count >= 1 && cuke_sniffer.summary[:step_definitions][:total_score] ==0 %>
      <div class="notes">Excellent! No smells found for Step Definitions!</div>
  <% end %>
  <% index = 0 %>
  <% cuke_sniffer.step_definitions.each do |step_definition| %>
      <% next if step_definition.score <= 0 %>
      <div style="cursor: pointer; padding-top: 3px" onclick="updateDisplayStatus(document.getElementById('step_definition_<%=index%>'))">
        <div class="red_number" style="float:left"><%= step_definition.score %></div>
        <% parameters = "" %>
        <% step_definition.parameters.each do |param| %>
            <% if param == step_definition.parameters.first %>
                <% parameters << "| " %>
            <% end %>
            <% parameters << param %>

            <% if param == step_definition.parameters.last %>
                <% parameters << " |" %>
            <% else %>
                <% parameters << ", " %>
            <% end %>
        <% end %>
        <div style="float: left" class="notes"><%= "/" + step_definition.regex.to_s.match(/\(\?\-mix\:(?<regex>.*)\)/)[:regex] + "/ do " + parameters %></div>
        <div style="float: right; padding-right:1%" class="notes"><%= step_definition.calls.keys.count %> Call(s)</div>
      </div>
      <div id="step_definition_<%= index %>" style="display:none;">
        <br style="clear:both">

        <div class="sub_section" style="display:block">
          <div style="text-indent: 4%; float: left; width: 45%; border-right: 2px solid #add8e6;">
            <% step_definition.rules_hash.each_key do |rule| %>
                <pre style="margin: 0;"><%= rule %></pre>
            <% end %>
          </div>
          <div style="text-indent: 1%">
            <p style="margin:0"><%= step_definition.location.gsub(cuke_sniffer.step_definitions_location, "") %></p>
          </div>
        </div>
      </div>
      <br style="clear:both">
      <% index += 1 %>
  <% end %>
</div>
<br style="clear:both">
