<div class="title" onclick="toggleById('step_definitions_data', this)">
  Step Definitions +
</div>
<div class="shrink_section" id="step_definitions_data">
  <% if cuke_sniffer.step_definitions.count == 0 %>
      <div class="empty_set_message">There were no Step Definitions to sniff in
        '<%= cuke_sniffer.step_definitions_location %>'!
      </div>
  <% elsif cuke_sniffer.step_definitions.count >= 1 && cuke_sniffer.summary[:step_definitions][:total_score] ==0 %>
      <div class="empty_set_message">Excellent! No smells found for Step Definitions!</div>
  <% end %>
  <% index = 0 %>

  <table style="width:100%;">
    <% cuke_sniffer.step_definitions.each do |step_definition| %>
        <% next if step_definition.score <= 0 %>
        <tr class="notes" style="cursor:pointer" onclick="updateDisplayStatus(document.getElementById('step_definition_<%=index%>'))">
          <td>
            <div style="display:inline;color: red;"><%= step_definition.score %></div>
            <div style="display:inline;"><%= step_definition.regex.to_s.gsub("(?-mix:", '/')[0...-1] %>/</div>
          </td>
          <td style="text-align: right;"><%= step_definition.calls.size %> Call(s)</td>
        </tr>
        <tr id="step_definition_<%= index %>" style="display:none;">
          <td style="border-top:2px solid #add8e6">
            <% step_definition.rules_hash.each_key do |phrase| %>
                <pre><%= phrase %></pre>
            <% end %>
          </td>
          <td style="text-align: right;border-top:2px solid #add8e6"><%= step_definition.location.gsub(cuke_sniffer.step_definitions_location, '') %></td>
        </tr>
        <% index += 1 %>
    <% end %>
  </table>
</div>
<br style="clear:both">
